- content_for :title do
  %h1= t 'Parameters'
  
= render :partial => 'admin/parameters/menu'

%article.content
  %header.page-header
    %h2= t 'CourseContracts'
      
  %table
    %thead
      %tr
        %th= t 'activerecord.attributes.course_contract.name'
    %tbody
      - for course_contract in @course_contracts
        %tr
          %td= link_to course_contract.name, [:admin, course_contract]
          
  = will_paginate @course_contracts
