- content_for :title do
  %h1= t 'Parameters'
  
= render :partial => 'admin/parameters/menu'

%article.content
  %header.page-header
    %h2= t 'activerecord.models.course_contract'
    %ul#toolbar
      %li= link_to (t 'Back'), {:action => 'index'}, :class => 'back'
      %li= link_to (t 'Edit'), {:action => 'edit'}, :class => 'edit'
      %li= link_to (t 'Preview'), {:action => 'preview'}, :class => 'show'
      
  %p
    %strong="#{t 'activerecord.attributes.course_contract.name'}: "
    = @course_contract.name
    
  %p
    %strong="#{t 'activerecord.attributes.course_contract.slug'}: "
    = @course_contract.slug